build --incompatible_use_python_toolchains=false \
  --workspace_status_command=tools/workspace_status.sh \
  --python_top=//:py_runtime

run --incompatible_use_python_toolchains=false \
  --workspace_status_command=tools/workspace_status.sh \
  --python_top=//:py_runtime \
  --build_python_zip

test --incompatible_use_python_toolchains=false \
  --workspace_status_command=tools/workspace_status.sh \
  --python_top=//:py_runtime
